[project]
name = "photo-tagger"
version = "0.1.0"
description = "CLI tool to describe photos and add keywords using AI"
readme = "README.md"
requires-python = ">=3.14,<4"
authors = [{ name = "Julio Batista Silva", email = "python@juliobs.com" }]
license = "MIT"
keywords = [
    "photo",
    "tagging",
    "cli",
    "ai",
    "exif",
    "metadata",
    "image recognition",
]
dependencies = [
    "cyclopts>=4.2.1",
    "rawpy>=0.25.1",
    "pydantic>=2.7.0",
    "pydantic-ai>=1.11.0",
    "loguru>=0.7.3",
    "pyexiftool>=0.5.6",
    "pillow>=12.0.0",
]

[dependency-groups]
dev = [
    "bandit>=1.8.6",
    "ruff>=0.14.3",
    "zuban>=0.2.2",
    "pytest>=8.3.3"
]

[tool.ruff]
line-length = 100
indent-width = 4
extend-exclude = ["migrations"]
target-version = "py314"
fix = true
unsafe-fixes = false

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = true

[tool.ruff.lint.flake8-annotations]
allow-star-arg-any = true

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "D203",   # one-blank-line-before-class
    "D212",   # multi-line-summary-first-line
    "ANN401", # Allow Any type annotations in certain cases
]

[tool.ruff.lint.per-file-ignores]
"**/tests/{test_*.py,conftest.py}" = [
    "S101",   # Allow assert in tests
    "S106",   # Allow hardcoded password in tests
    "ARG001", # Allow unused arguments in tests (for pytest fixtures)
]
"**/__init__.py" = [
    "D104", # Allow empty __init__.py files
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"

[tool.ruff.lint.isort]
combine-as-imports = true
force-wrap-aliases = true
lines-after-imports = 2
